@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
  padding: 0;
  font-family: "Lato", Helvetica, sans-serif;
}

a{
  text-decoration: none !important;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


.page-wrapper {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.page-wrapper .logo-img {
  margin-top: -10px;
}

.rememberme {
  margin-left: -69px !important;
}

.channelText{
  margin-bottom: 5px;
}

.channelText .channels__add{
  margin-left: 45%;
}

.channel{
  padding: 5px;
  padding-left: 10px;
}

.channel a{
  color: #9999A9;
  cursor: pointer;
}


.channel:hover{
  background-color: #5D4F96;
  color: #fff;
  /*clear: both !important;*/
}

.channel:hover a{
  color: #fff;
}


.channel-list {
  padding-left: 5%;
  max-height: 23%;
  overflow-y: scroll;
}
.activeChannel{
  color:white !important;
}

.channel-list::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

.channel-list::-webkit-scrollbar
{
  width: 12px;
  background-color: #382962;
}

.channel-list::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent;
}

/*
.main {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.sidebar {
  display:inline-block;
  width:19.5%;
  vertical-align: top;
  height:100%;
  background:#4d394b;
  background-color: #382962;
  position:relative;
  overflow:hidden;
  padding-bottom:100px;
  padding-left: 0.9%;
  max-width: 211px;
  min-width: 200px;
}

.channels .box >.app-name {
  background:#3E313C;
  padding:30px 0px 15px 11px;
}

.sidebar .app-name h2{
  color:#fff;
  font-size:2em;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:0px;

}

.sidebar .channel-list {
  margin-top:20px;
  background:#4d394b;
  position:relative;
}

.sidebar .channel-list .channel a{
  display:block;
  color:rgba(255,255,255,0.6);
  padding:3px 0px 3px 15px;
  width:90%;
  font-weight:300;

  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover{
  text-decoration: none;
  background:#3E313C;
}

.sidebar .channel-list .channel a.selected{
  background:#4c9689;
  color:#fff;
  text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
  font-style: italic;
}

.sidebar .channel-list .list-head {
  margin-top:10px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.sidebar .my-info {
  position:fixed;
  bottom:0;
  padding:15px;

  /*left: -0.1%;*/


/*background:#3E313C;
}

.sidebar .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width:44px;
  height:44px;
  border-radius:4px;
}

.sidebar .my-info .user-info {
  padding-left:5px;
  display: inline-block;
  vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
  color:#fff;
  font-size:1.5em;
  font-weight:500;
}

.sidebar .my-info .user-info .options {
  color:#999;
  font-size:12px;
}

.sidebar .my-info .user-info .options a{
  color:#999;
  font-size:12px;
}

.sidebar .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #ab9ba9;
  vertical-align: middle;
}

.sidebar .presence .online {
  background: #99d04a;
}

.message-pane {
  display:inline-block;
  vertical-align: top;
  height:100%;
  width:80%;
  overflow-y:scroll;
  padding:55px 15px 65px 15px;
}

@media (min-device-width : 1020px) {
  .message-pane {
    margin-left: 201px;
  }
}

.message-pane .header {
  position:fixed;
  top:0;
  background:#fff;
  width:100%;
  z-index:2;
}

.message-pane .header h1 {
  padding:12px 0 10px 0;
  margin-top:0px;
  margin-bottom:0px;
  font-size:24px;
  color:#555459;
  font-weight:900;
}

.message-pane .message-form {
  position:fixed;
  bottom:0;
  padding:0 15px 15px 0;
  background:#fff;
  width:79%;
}

.message-pane .message-wrap {
  position:relative;
  margin-top:15px;
}

.message-pane .message-wrap .user-pic {
  width:36px;
  height:36px;
  border-radius:4px;
  display: inline-block;
  vertical-align: top;
}

.message-pane .message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  padding-left:5px;
}

.message-pane .message-wrap .message-info .user-name{
  color:#555459;
  font-weight:100;
  font-size: 3.5em;
}

.message-pane .message-wrap .message-info .user-name span{
  color:#ccc;
  font-weight: normal;
  font-size:10px;
}
/*slickChat Css */


/**,
*:before,
*:after {
  box-sizing: border-box;
}*/

.box {
  text-decoration: none;
  color: #fff;
  padding: 1em;
}

input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2;
}

.withUserPic{
  padding-bottom: 12px;
}

.message-list {
  margin: 0;
  padding: 0;
}

/*.message-list li {*/
  /*padding: .2em;*/
  /*!* margin-top: 1em; *!*/
  /*margin-bottom: 1em;*/
  /*!* background-color: #f2f2f2; *!*/
  /*!* background-color: #D1D1E2; *!*/
  /*background-color: #fff;*/
  /*!* border-top: 1px solid #d7d7dc; *!*/
  /*border-bottom: 1px solid #d7d7dc;*/
/*}*/
.message-list li {
  padding: .2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f2f2f2;
}

.header {
  background-color: #ffffff;
}

.teams {
  background-color: #382962;
}

.channels {
  /*background-color: #52364E;*/
  background-color: #382962;
  padding-left: 30px;
}

.messages {
  padding: 0 !important;
  background-color: #ffffff;
}

.write {
  background-color: #f2f2f2;
}

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 0px 210px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "teams channels header"
                       "teams channels messages"
                       "teams channels input";
}

/*
input[type=text] {
  background-color: #ffffff;
}*/

input[type=text]:focus {

}
.online{
  background-color:rgba(66,182,42,1) !important;
}

.teams {
  grid-area: teams;
}

.channels {
  grid-area: channels;
}

.channelText {
  margin-top: -18px;
  font-weight: 900;
  text-transform: uppercase;
}

.directMsg {
  margin-top: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.channels .box>.app-name {
  background: #3E313C;
  /*background-color: #382962;*/
  padding: 30px 0px 15px 11px;
}

.navbar-nav>li>a {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  line-height: 18px !important;
  text-decoration: none;
  color: #b3b3b3;
}

.navbar-nav>.active {
  color: #fff;
  background: rgb(76, 150, 137);
  width: 95%;
  border-radius: 0 6px 6px 0px;
}
.navbar-nav>.active>a:hover {
  color: #fff;
  background: transparent;
  width: 95%;
  border-radius: 0 6px 6px 0px;
}
.navbar-nav>.active>a {
  color: #fff;
  background: transparent;
  width: 95%;
  border-radius: 0 6px 6px 0px;
}
.navbar-nav>li>a:hover {
  text-decoration: none;
  background-color: rgb(62, 49, 60);
  width: 95%;
  border-radius: 0 6px 6px 0px;
}

.navbar-nav>li>a:focus {
  text-decoration: none;
  background-color: rgb(76, 150, 137);
  width: 95%;
  border-radius: 0 6px 6px 0px;
  color: white;
}

.navbar-nav>.active {
  text-decoration: none;
  background-color: rgb(76, 150, 137);
  width: 95%;
  border-radius: 0 6px 6px 0px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  width: 93%;
  background-color: #f9f9f9;
  margin-left: 3%;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header {
  grid-area: header;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}
.header.box .members{
  font-weight: 400;
  display: inline-block;
  font-size: 12px;
  /*opacity: 0.3;*/
  padding-right: 7px;
  margin-top: 0;
}
.header.box .purpose{
  border-left: 1px solid #ccc;
  padding-left: 7px;
  font-weight: 400;
  display: inline-block;
  font-size: 12px;
  /*opacity: 0.3;*/
  padding-right: 7px;
  margin-top: 0;
}


.channels.box .my-info {
  position: fixed;
  bottom: 0;
  padding: 15px;
  margin-left: -18px;
}

.channels.box .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  border-radius: 4px;
}

.channels.box .my-info .user-info {
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.channels.box .my-info .user-info .user-name {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

.channels.box .my-info .user-info .options {
  color: #999;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.channels.box .my-info .user-info .options a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.channels.box .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
  background: #ab9ba9;
  vertical-align: middle;
  margin-top: -1px;
}

.channels.box .presence .online {
  background: #99d04a !important;
}

.messages {
  grid-area: messages;
  padding: 0 1em !important;
  overflow-y: scroll;
}

.message-wrap{
  margin-left: 49px;
  margin-top: -35px;
  padding-right: 16px;
  margin-bottom: -6px;
}

.noUserPic{
  margin-top: -4px !important;
}
.samePreviousUser{
  margin-top: -16px !important;
  border-top: none !important;
  /*border-bottom: none !important;*/
}
.message-wrap .user-pic {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  margin-top: 3px;
}

.message-list>li>img {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  margin-top: 3px;
}

.message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  /*padding-left: 10px;*/
  margin-left: -21px;
  /*margin-top: 0;*/
}


.message-info {
    padding-left: 16px;
    margin-top: -5px;
    margin-bottom: 12px;
}

.message-wrap .message-info .user-name-message {
  color: #555459;
  font-weight: 400;
}
.user-name-message.message{
  color: #555459 !important;
  font-weight: 400 !important;
  font-size: 12px!important;
}
.message-wrap .message-info .user-name-message span {
  color: #ccc;
  font-weight: normal;
  font-size: 10px;
}

.input {
  grid-area: input;
}

.dropdown-menu {
  margin-top: -17px;
  margin-left: 239px;
}

/* Test */
 app css stylesheet

.overflowable {
  height: 240px;
  overflow-y: auto;
  border: 1px solid #000;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}

.purpose .members h3{
  color: #fff;
}

.header{
  background-color: #5608CD;
  color: #fff;
  margin-top: -3px;
}

ul.message-list li:not(.samePreviousUser){
  margin-top: 10px;
  margin-bottom: 12px;
}
