<link rel="stylesheet" href="app/auth/login/login.css">
<script src="app/auth/login/login.js" charset="utf-8"></script>
<div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check"></div>
      <div class="login__form">
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" class="login__input name" placeholder="Name" ng-model="registerCtrl.userRegister.name"/>
        </div>
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" class="login__input pass" placeholder="Email" ng-model="registerCtrl.userRegister.email"/>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <input type="password" class="login__input name" placeholder="Password" ng-model="registerCtrl.userRegister.password"/>
        </div>
        <button style="margin-top: 26px" type="submit" ng-click="registerCtrl.register()" class="login__submit" value="Login">Sign Up</button>
      </div>
    </div>
    
  </div>
</div>
