<div class="page-wrapper">

  <div class="page-header">
    <h1><a ui-sref="home"><img class="logo-img" src="app/images/logo.png" width="20%"/></a>Activate</h1>
  </div>

  <div id="loginPanel" class="mainbox col-md-10 col-sm-8 col-sm-offset-2 col-lg-12 col-lg-pull-2">


    <div class="panel-body">
      <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="activateCtrl.errorMessage">{{activateCtrl.errorMessage}}</div>
      <form id="loginForm" role="form" ng-submit="activateCtrl.activate()">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="user.email" type="email" class="form-control" value="" placeholder="E-mail" ng-model="activateCtrl.userActivate.email" disabled>
        </div>
        <br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="user.password" type="password" class="form-control" placeholder="Pin" ng-model="activateCtrl.userActivate.pin">
        </div>
        <br>
        <div class="button-group">
          <input id="loginBtn" type="submit" class="btn btn-primary btn-lg btn-block" value="Activate">
        </div>
        <div class="text-muted">
          Please check your email address.
        </div>
      </form>
    </div>
  </div>

  <script>
      document.onkeydown = function(){
          switch (event.keyCode){
              case 116 : //F5 button
                  event.returnValue = false;
                  event.keyCode = 0;
                  return false;
              case 82 : //R button
                  if (event.ctrlKey){
                      event.returnValue = false;
                      event.keyCode = 0;
                      return false;
                  }
          }
      }
  </script>


</div>
