<div class="page-wrapper">

    <div class="page-header">
        <h1><a ui-sref="home"><img class="logo-img" src="images/logo.png" width="20%"/></a>Activate</h1>
    </div>

    <div id="loginPanel" class="mainbox col-md-10 col-sm-8 col-sm-offset-2 col-lg-12 col-lg-pull-2">


        <div class="panel-body">
            <div id="errorMessage" class="alert alert-danger col-sm-12" ng-show="authCtrl.errorMessage">{{authCtrl.errorMessage}}</div>
            <form id="loginForm" role="form" ng-submit="authCtrl.activate()">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="user.email" type="email" class="form-control" value="" placeholder="E-mail" ng-model="authCtrl.userActivate.email">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="user.password" type="password" class="form-control" placeholder="Password" ng-model="authCtrl.userActivate.pin">
                </div>
                <br>
                <div class="button-group">
                    <input id="loginBtn" type="submit" class="btn btn-primary btn-lg btn-block" value="Activate">
                </div>
            </form>
        </div>
    </div>


</div>
