<link rel="stylesheet" href="app/auth/login/login.css">
<script src="app/auth/login/login.js" charset="utf-8"></script>
<!--<div class="cont">-->
  <!--<div class="demo">-->
    <!--<div class="login">-->
      <!--&lt;!&ndash; <div class="login__check"></div> &ndash;&gt;-->
      <!--<div class="login__form">-->
        <!--<div class="login__row">-->
          <!--<svg class="login__icon name svg-icon" viewBox="0 0 20 20">-->
            <!--<path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />-->
          <!--</svg>-->
          <!--<input type="text" class="login__input name" placeholder="Username" ng-model="loginCtrl.userLogin.email"/>-->
        <!--</div>-->
        <!--<div class="login__row">-->
          <!--<svg class="login__icon pass svg-icon" viewBox="0 0 20 20">-->
            <!--<path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />-->
          <!--</svg>-->
          <!--<input type="password" class="login__input pass" placeholder="Password" ng-model="loginCtrl.userLogin.password"/>-->
        <!--</div>-->
        <!--<button type="submit" ng-click="loginCtrl.login()" class="login__submit" value="Login">Sign in</button>-->
        <!--<p class="login__signup">Don't have an account? &nbsp;<a ui-sref="register">Sign up</a></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      <input type="email" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" />
    </label>
    <button type="button" class="submit">Sign In</button>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <label>
        <span>Name</span>
        <input type="text" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" />
      </label>
    </div>
  </div>
</div>


