<div class='app-layout'>
    <div class='teams box'>Teams</div>
    <div class='channels box'>
        <div class="app-name" style="margin-top: -2px;margin-bottom: 45px;">
            <a ui-sref="channels.welcome" style="color:white">
                <h2 style="font-weight: 900;">SlickChat</h2>
                <h6 style="margin-top: -7px; color: #A9A9A9;">It's Slick!</h6>
            </a>
        </div>
        <div class="list-head channelText">Channels
            <i class="fa fa-plus-circle channels__add dropdown" style="color: #9999A9;cursor:pointer;" data-toggle="collapse"
               data-target="#createChannel" aria-hidden="true"></i>
           </div>
        <div class="channel-list">
            <div class="channel" ng-repeat="channel in channelsCtrl.channels">
                <a ng-click="channelsCtrl.changeChannel(channel.name)" ui-sref-active="selected"> # {{ channel.name}}</a>
            </div>
            <a style="color: #9999A9;cursor:pointer;" class="dropdown" data-toggle="collapse"
               data-target="#createChannel">+ Create Channel</a>
            <!-- <div class="channel create"> -->
            <!-- <ul class="nav navbar-nav"> -->
            <!-- <li class="channel active">
              <a href="#">#project</a>
            </li>
            <li class="channel">
              <a href="#">#angular</a>
            </li>
            <li class="channel">
              <a href="#">#atom</a></li> -->
            <!-- <li> -->
            <div class="dropdown-content collapse" id="createChannel">
                <form ng-submit="channelsCtrl.createChannel()">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">#</span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" required ng-model="channelsCtrl.newChannel.name" required>
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit" data-toggle="collapse" ng-class="{ 'disabled' :channelsCtrl.newChannel.name.length===0 || channelsCtrl.newChannel.name.length===undefined}"
                                data-target="#createChannel">Create</button>
                           </span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- </li> -->
            <!-- </ul> -->
            <!-- </div> -->
        </div>
        <div class="list-head directMsg">DIRECT MESSAGES</div>
        <div class="channel-list">
            <div class="channel" ng-repeat="user in channelsCtrl.users">
                <a ng-if="user.$id !== channelsCtrl.profile.$id" ui-sref="channels.direct({uid: user.$id})"
                   ui-sref-active="selected">
                    <span class="presence" ng-class="{online: channelsCtrl.profile.online}"></span>
                    {{ user.displayName }}
                </a>
            </div>
        </div>
        <div class="my-info">
            <img class="user-pic" ng-src="{{ channelsCtrl.getGravatar}}"/>
            <div class="user-info">
                <div class="user-name">
                    <span class="fa fa-circle" aria-hidden="true"
                          style="color:rgba(66,182,42,1); font-size: 0.5em;"></span> {{ channelsCtrl.displayName }}
                </div>

                <div class="options">
                    <a ui-sref="profile">Edit Profile</a> /
                    <a ng-click="channelsCtrl.logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class='header box'><h2>
        #{{channelsCtrl.channelSelected}}</h2>
        <h3 class="members">2 members</h3>
        <h3 class="purpose">Sometimes we do cool stuff</h3>
    </div>
    <div class='messages box'>
        <ul class='message-list'>
            <ui-view>
            </ui-view>
            <!-- Sample Messages -->
            <li>
                <div class="message-wrap">
                    <img class="user-pic" src="//www.gravatar.com/avatar/64b42575c9b40803403978f1d7adf8ec?d=retro"/>
                    <div class="message-info">
                        <div class="user-name-message">
                            @Shubham
                            <span class="timestamp">11:30pm 11/7/2017</span>
                        </div>
                        <div class="message" style="color: black">
                            Hii bhai, ...Badiya Sab. Live nahi hai sirf dummy text hai.
                            Aur hai abb responsive bhi hai but side panel disappear nahi hotta hai on phone.
                            Kal socket io ka complete kar denge.
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="message-wrap">
                    <img class="user-pic" src="//www.gravatar.com/avatar/f6396b74a13fb82676b733e0c4b2e2d1?d=retro"/>
                    <div class="message-info">
                        <div class="user-name-message">
                            @Naman
                            <span class="timestamp">1:57am 12/7/2017</span>
                        </div>
                        <div class="message" style="color: black">
                            Bunch of changes. Create Channel ab tameez se khul raha hai and navbar-nav ka chakkar
                            hata diya hai. navbar-nav se badi dikkat aa rahi hai.
                            Chrome ke ilawa kisi bhi browser mein phat raha hai yeh dekh
                            <a href="http://imgur.com/a/Y4Kb8">link</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class='input'>
        <input type='text' placeholder='Type Something here'>
    </div>
</div>
