<div class='app-layout'>
    <div class='teams box'></div>
    <div class='channels box'>
        <div class="app-name" style="margin-top: -2px;margin-bottom: 45px;">
            <a ui-sref="channels.welcome" style="color:white">
                <h2 style="font-weight: 900;">SlickChat</h2>
                <h6 style="margin-top: -7px; color: #A9A9A9;">It's Slick!</h6>
            </a>
        </div>
        <div class="list-head channelText">Channels
            <!--<i class="fa fa-plus-circle channels__add dropdown" style="color: #9999A9;cursor:pointer;" data-toggle="collapse"-->
               <!--data-target="#createChannel" aria-hidden="true"></i>-->
           </div>
        <div class="channel-list">
            <div class="channel" ng-repeat="channel in channelsCtrl.channels">
                <a ng-click="channelsCtrl.changeChannel(channel)" ui-sref-active="selected" ng-class="{activeChannel:channel.name===channelsCtrl.channelSelected}"> #{{ channel.name}}</a>
            </div>
            <!-- <a style="color: #9999A9;cursor:pointer;" class="dropdown" data-toggle="collapse"
               data-target="#createChannel">+ Create Channel</a> -->
            <!-- <div class="channel create"> -->
            <!-- <ul class="nav navbar-nav"> -->
            <!-- <li class="channel active">
              <a href="#">#project</a>
            </li>
            <li class="channel">
              <a href="#">#angular</a>
            </li>
            <li class="channel">
              <a href="#">#atom</a></li> -->
            <!-- <li> -->
            <!--<div class="dropdown-content collapse" id="createChannel">-->
                <!--<form ng-submit="channelsCtrl.createChannel()">-->
                    <!--<div>-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon" id="basic-addon1">#</span>-->
                            <!--<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" required ng-model="channelsCtrl.newChannel.name" required>-->
                            <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-success" type="submit" data-toggle="collapse" ng-class="{ 'disabled' :channelsCtrl.newChannel.name.length===0 || channelsCtrl.newChannel.name.length===undefined}"-->
                                <!--data-target="#createChannel">Create</button>-->
                           <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!-- </li> -->
            <!-- </ul> -->
            <!-- </div> -->
        </div>
        <div class="list-head directMsg">Users</div>
        <div class="channel-list">
            <div class="channel" ng-repeat="user in channelsCtrl.allUser" ng-if="user.name !== channelsCtrl.displayName && user.name!==undefined">
                <a  ui-sref="channels.direct({uid: user.$id})"
                   ui-sref-active="selected">
                    <span class="presence" ng-class="{online: user.online}"></span>
                      {{ user.name }}
                </a>
            </div>
        </div>
        <div class="my-info">
            <img class="user-pic" ng-src="{{ channelsCtrl.getGravatar}}"/>
            <div class="user-info">
                <div class="user-name">
                    <span class="fa fa-circle" aria-hidden="true"
                          style="color:rgba(66,182,42,1); font-size: 0.5em;"></span> {{ channelsCtrl.displayName }}
                </div>

                <div class="options">
                    <a style="padding-left: 14px;" ng-click="channelsCtrl.logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class='header box'><h2 style="margin-top: 22px; margin-bottom: 0px;">
        #{{channelsCtrl.channelSelected}}</h2>
        <h3 class="members">{{channelsCtrl.channelSelectedUsers.length}} members</h3>
        <h3 class="purpose">created by {{channelsCtrl.channelCreator}}</h3>
        <h3 class="purpose">{{channelsCtrl.channelDescription}}</h3>
    </div>
    <div class='messages box' scroll-glue>
        <ul class='message-list' ng-if="channelsCtrl.channelSelected==='general'">
            <!--<ui-view>-->
            <!--</ui-view>-->
            <!-- Sample Messages -->
            <!-- ng-class="{samePreviousUser:channelsCtrl.messages[$index-1].user===message.user && message[$index-1].channel ===channelsCtrl.channelSelected} -->
            <li ng-repeat="message in channelsCtrl.messages track by $index" ng-if="message.channel===channelsCtrl.channelSelected">
                <img class="user-pic " ng-src="{{message.userImage}}"/>
                <div class="message-wrap">
                    <div class="message-info">
                        <div class="user-name-message">
                            <span class="user-name-message message">@{{message.user}}</span>
                            <span class="timestamp"> {{message.time}}</span>
                        </div>
                        <div class="message" style="color: black">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class='message-list' ng-if="channelsCtrl.channelSelected==='programming'">
            <!--<ui-view>-->
            <!--</ui-view>-->
            <!-- Sample Messages -->
            <li ng-repeat="message in channelsCtrl.messages track by $index" ng-if="message.channel===channelsCtrl.channelSelected">
                <img class="user-pic " ng-src="{{message.userImage}}"/>
                <div class="message-wrap">
                    <div class="message-info">
                        <div class="user-name-message">
                            <span class="user-name-message message">@{{message.user}}</span>
                            <span class="timestamp"> {{message.time}}</span>
                        </div>
                        <div class="message" style="color: black">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class='message-list' ng-if="channelsCtrl.channelSelected==='finance'">
            <!--<ui-view>-->
            <!--</ui-view>-->
            <!-- Sample Messages -->
            <li ng-repeat="message in channelsCtrl.messages track by $index"  ng-if="message.channel===channelsCtrl.channelSelected">
                <img class="user-pic " ng-src="{{message.userImage}}"/>
                <div class="message-wrap">
                    <div class="message-info">
                        <div class="user-name-message">
                            <span class="user-name-message message">@{{message.user}}</span>
                            <span class="timestamp"> {{message.time}}</span>
                        </div>
                        <div class="message" style="color: black">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class='message-list' ng-if="channelsCtrl.channelSelected==='politics'">
            <!--<ui-view>-->
            <!--</ui-view>-->
            <!-- Sample Messages -->
            <li ng-repeat="message in channelsCtrl.messages track by $index">
                <img class="user-pic " ng-src="{{message.userImage}}"/>
                <div class="message-wrap">
                    <div class="message-info">
                        <div class="user-name-message">
                            <span class="user-name-message message">@{{message.user}}</span>
                            <span class="timestamp"> {{message.time}}</span>
                        </div>
                        <div class="message" style="color: black">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class='message-list' ng-if="channelsCtrl.channelSelected==='entertainment'">
            <!--<ui-view>-->
            <!--</ui-view>-->
            <!-- Sample Messages -->
            <li ng-repeat="message in channelsCtrl.messages track by $index" ng-if="message.channel===channelsCtrl.channelSelected">
                <img class="user-pic " ng-src="{{message.userImage}}"/>
                <div class="message-wrap">
                    <div class="message-info">
                        <div class="user-name-message">
                            <span class="user-name-message message">@{{message.user}}</span>
                            <span class="timestamp"> {{message.time}}</span>
                        </div>
                        <div class="message" style="color: black">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class='message-list' ng-if="channelsCtrl.channelSelected==='miscellaneous'">
            <!--<ui-view>-->
            <!--</ui-view>-->
            <!-- Sample Messages -->
            <li ng-repeat="message in channelsCtrl.messages track by $index" ng-if="message.channel===channelsCtrl.channelSelected">
                <img class="user-pic " ng-src="{{message.userImage}}"/>
                <div class="message-wrap">
                    <div class="message-info">
                        <div class="user-name-message">
                            <span class="user-name-message message">@{{message.user}}</span>
                            <span class="timestamp"> {{message.time}}</span>
                        </div>
                        <div class="message" style="color: black">
                            {{message.text}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class='input'>
        <form ng-submit="channelsCtrl.sendMessage()">
            <input type='text' placeholder='Type Something here' ng-model="channelsCtrl.message" required>
        </form>
    </div>
</div>
